# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# Misc
.DS_Store
